server:
  port: 9090

spring:
  application:
    name: API-GATEWAY
#  config:
#    import: configserver:${CONFIG_SERVER_URL:http://localhost:9296}

  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "https://mediconnects.netlify.app"
              - "http://localhost:3000"
           
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - DELETE
#          '/auth/token':
#            allowedOrigins: "http://localhost:3000"
#            allowedHeaders: "*"
#            allowedMethods:
#              - GET
#              - POST
#              - OPTIONS

      routes:
#        - id: ADMIN-SERVICE
#          uri: lb://ADMIN-SERVICE
#          predicates:
#            - Path=/admin/**
#          filters:
#            - AuthenticationFilter

        - id: AUTH-SERVICE
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: APPOINTMENT-SERVICE
          uri: lb://APPOINTMENT-SERVICE
          predicates:
            - Path=/appointment/**


        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
             - Path=/user/**



          filters:
            - AuthenticationFilter



# eureka:
#   client:
#     fetch-registry: true
#     register-with-eureka: true
#     service-url:
#       defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}
